<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/sonota.css">
    <title>界 箱根 星野リゾート日記</title>
</head>


<body>
    <div class="home-yado">
        <div class="home-img">
            <img src="/image/kaihakone-min.JPG" width="1200">
        </div>
    </div>
    <div class="setumei">
        <div class="setumei-h2">
            <h2>界 箱根</h2>
        </div>
        <div class="setumei-p">
        <p>
            深い自然林におおわれた奥入瀬渓流は、千変万化の水の流れが生む躍動感あふれる景観が展開されています。<br>
            新緑や紅葉の名所としても知られ、春夏秋冬どの季節も訪れる人を自然の力で癒してくれるでしょう。
        </p>
        </div>
    </div>
    <div>

    </div>

</body>
