<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>星野リゾート日記</title>
</head>

<body>
    <div class="home">
        <img src="/image/nihonn.png" width="1000">
    </div>
    <div class="keiro">
        <div class="keiro-mozi">
            <h2>星野リゾート -旅-</h2>
        </div>
        <div class="mitinori">
            <a href="/sonota/oirase"><img src="/image/oirase.png" width="200"></a>
            <a href="/kai/hakone"><img src="/image/hakone.png" width="200"></a>
            <a href="./oirase.html"><img src="/image/syasinn.jpeg" width="200"></a>
            <a href="./oirase.html"><img src="/image/syasinn.jpeg" width="200"></a>
            <a href="./oirase.html"><img src="/image/syasinn.jpeg" width="200"></a>
        </div>
        <div class="mitinori2">
            <img src="/image/syasinn.jpeg" width="200">
            <img src="/image/syasinn.jpeg" width="200">
            <img src="/image/syasinn.jpeg" width="200">
            <img src="/image/syasinn.jpeg" width="200">
            <img src="/image/syasinn.jpeg" width="200">
        </div>
        <div class="mitinori3">
            <img src="/image/syasinn.jpeg" width="200">
            <img src="/image/syasinn.jpeg" width="200">
            <img src="/image/syasinn.jpeg" width="200">
            <img src="/image/syasinn.jpeg" width="200">
            <img src="/image/syasinn.jpeg" width="200">
        </div>
    </div>
    <div class="kousiki">
        <div class="kousiki-mozi">
            <h2>星野リゾート 公式サイト</h2>
        </div>
        <div class="rinnku">
            <a href="https://www.hoshinoresorts.com/" target="_blank">こちら →</a>
        </div>
    </div>
    <div class="setumei">
        <div class="saitonituite">
            <h2>サイトについて</h2>
        </div>
        <div class="setumeibunn">
            <p>このサイトは、星野リゾートを制覇したい！という方のために作りました。</p>
        </div>
        <div>

        </div>
    </div>


</body></html>
